[tool.poetry]
name = "neuralprophet"
version = "1.0.0rc5"
description = "NeuralProphet is an easy to learn framework for interpretable time series forecasting."
authors = ["Oskar Triebe <triebe@stanford.edu>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
]

[tool.poetry.urls]
Homepage = "https://github.com/ourownstory/neural_prophet"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
captum = ">=0.6.0,<1.0"
holidays = ">=0.33,<1.0"
matplotlib = "^3.5.3"
numpy = "^1.22.0"
pandas = "^1.3.5"
plotly = "^5.13.1"
plotly-resampler = ">=0.8.3.1,<1.0"
pytorch-lightning = "^1.9.4" # TODO: move to ^2.0
tensorboard = "^2.11.2"
torch = "2.0.0" # TODO: relax to ^2.0
torchmetrics = ">=0.11.3,<1.0"
typing-extensions = "^4.5.0"
nbformat = ">=4.2.0"
livelossplot = { version = ">=0.5.5,<1.0", optional = true }

[tool.poetry.extras]
live = ["livelossplot"]

[tool.poetry.group.dev.dependencies]
black = { extras = ["jupyter"], version = "^23.1.0" }
flake8 = "^5.0.4"
isort = "^5.11.5"
pytest = "^7.2"
pytest-cov = "^4.0"
kaleido = "0.2.1" # required for plotly static image export
tabulate = "^0.9" # Used in model metrics CI only; md export for github-actions bot

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
myst-parser = "^0.18.1"
nbsphinx = "^0.8.12"
nbsphinx-link = "^1.3.0"
sphinx = "^4.2.0"
sphinx-fontawesome = "^0.0.6"
furo = "^2022.9.29"

[tool.poetry.group.pyright]
optional = true

[tool.poetry.group.pyright.dependencies]
pandas-stubs = "^2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | example_data
    | example_notebooks
    | notes
    | site
  )/
  | .gitignore
)
'''

[tool.isort]
profile = "black"
line_length = 120

[tool.pyright]
include = [
    "neuralprophet/forecaster.py",
    "neuralprophet/configure.py",
    "neuralprophet/df_utils.py",
    "neuralprophet/hdays_utils.py",
]

[tool.ruff]
line-length = 120
typing-modules = ["neuralprophet.np_types"]
