[tool.poetry]
name = "neuralprophet"
version = "0.6.0rc1"
description = "NeuralProphet is an easy to learn framework for interpretable time series forecasting."
authors = ["Oskar Triebe <triebe@stanford.edu>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
captum = "^0.6.0"
holidays = "^0.21"
matplotlib = "^3.5.3"
numpy = ">=1.21.6,<1.24.0"
pandas = "^1.3.5"
plotly = "^5.13.1"
plotly-resampler = "^0.8.3.1"
pytorch-lightning = "^1.9.4"
tensorboard = "^2.11.2"
torch = "^1.13.1"
torchmetrics = "^0.11.3"
typing-extensions = "^4.5.0"

[tool.poetry.group.dev.dependencies]
black = { extras = ["jupyter"], version = "^23.1.0" }
flake8 = "^5.0.4"
isort = "^5.11.5"

[tool.poetry.group.tests]
optional = true

[tool.poetry.group.tests.dependencies]
kaleido = "0.2.1"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
myst-parser = "^0.18.1"
nbsphinx = "^0.8.12"
nbsphinx-link = "^1.3.0"
sphinx = "^4.2.0"
sphinx-fontawesome = "^0.0.6"
furo = "^2022.9.29"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | example_data
    | example_notebooks
    | notes
    | site
  )/
  | .gitignore
)
'''

[tool.isort]
profile = "black"
line_length = 120

[tool.pyright]
include = [
    "neuralprophet/forecaster.py",
    "neuralprophet/configure.py",
    "neuralprophet/df_utils.py",
    "neuralprophet/hdays_utils.py",
]
