.my_line{
    text-transform: uppercase;
}

.announcement{
    background-color: #2d92ffff;
    max-height: 40px;
    font-size: 0.7em; }
    @media (min-width: 431px) {
        .announcement {
            font-size: 0.875em;;
        }
       }
    @media (min-width: 576px) {
        .announcement {
            font-size: 1em;
        }
       }

.announcement-content{
    padding: 0.01em;
}

.github-button-container{
    text-align: center;
    margin-top: -20px;
}

/* change background color of div.nboutput.container div.output_area pre if dark mode is active */
@media (prefers-color-scheme: dark) {
    div.nboutput.container div.output_area .highlight,
    div.nboutput.container div.output_area pre{
        background: #824d4d !important;
    }
}

/* change font color and background color of table text if dark mode is active */
@media (prefers-color-scheme: dark) {
    .jp-RenderedHTMLCommon table,
    div.rendered_html table{
        color: #ffffff !important;
    }
    .jp-RenderedHTMLCommon tbody tr:nth-child(odd),
    div.rendered_html tbody tr:nth-child(odd){
        background: #444444 !important;
    }

    .jp-RenderedHTMLCommon tbody tr:hover,
    div.rendered_html tbody tr:hover{
        background: rgba(66, 165, 245, 0.2) !important;
    }
}
